
.main-card {
  border: 3px solid black !important;
  border-radius: 15px;
}

.card-img {
  height: 200px;
  width: 100%;
  border-radius: 15px 15px 0 15px;
}

.card-footer {
    background-color: #e4d1ba !important;
    color: black !important;
    font-weight: 700;
    border-radius: 15px;
}